.container {
     font-family: Vazirmatn, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: right;
     justify-content: right;
     text-align: right;
     margin: 0;
     width: 100%;
     height: auto;
}

p {
     text-align: right;
     direction: rtl;
}
